{% block footer %}
	<div class="footer-clean">
		<footer>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-4 col-md-3 item">
						<h3>Réseaux Sociaux</h3>
						<ul>
							<li><a href="https://www.instagram.com/djouma_cook/" target="_blank">Instagram</a></li>
							<li><a href="#">Tiktok</a></li>
							<li><a href="#">Pinterest</a></li>
						</ul>
					</div>
					<div class="col-sm-4 col-md-3 item">
						<h3>Contact</h3>
						<ul>
							<li>
								<a href="{{ path('contact_index') }}">Contactez nous</a>
							</li>
						</ul>
						<ul>
							<li><ahref="{{ path('mentionsLegales_index') }}">Mentions légales</a></li>
							<li><ahref="{{ path('legal_confidentialite') }}">Politiques de confidentialité</a></li>
							<li><ahref="{{ path('legal_cookies') }}">Cookies</a></li>


						</ul>
					</div>

					<p class="copyright">DjoumaCook © 2024</p>
				</div>
			</div>
		</div>
	</footer>
</div>{% endblock %}
