{% extends 'front/base.html.twig' %}

{% block title %}DjoumaCook - Politique de confidentialité{% endblock %}

{% block body %}
    <h1>Politique de confidentialité</h1>

    <h3>Données collectées</h3>
    <p>Nous collectons les données suivantes pour mieux gérer votre expérience sur DjoumaCook :</p>
    
    <h4>Données personnelles :</h4>
    <ul>
        <li>Nom, prénom, email lors de l’inscription.</li>
    </ul>
    
    <h4>Données techniques :</h4>
    <ul>
        <li>Adresse IP, type de navigateur, système d’exploitation.</li>
    </ul>
    
    <h4>Données d’utilisation :</h4>
    <ul>
        <li>Préférences culinaires, recettes consultées ou enregistrées, interactions sur le site.</li>
    </ul>
    
    <h3>Pourquoi collectons-nous vos données ?</h3>
    <p>Les données que nous collectons servent à :</p>
    <ul>
        <li>Gérer votre compte utilisateur et personnaliser votre expérience sur le site (ex : recommandations de recettes).</li>
        <li>Vous envoyer des newsletters si vous avez consenti à les recevoir.</li>
        <li>Analyser l’utilisation du site pour l’améliorer.</li>
    </ul>
    
    <h3>Partage des données</h3>
    <p>Nous ne vendons pas vos données personnelles à des tiers.</p>
    <p>Nous partageons uniquement vos données avec nos prestataires de services (hébergeur, outils d’analyse) pour le bon fonctionnement du site.</p>
    
    <h3>Durée de conservation des données</h3>
    <p>Vos données personnelles sont conservées aussi longtemps que votre compte est actif. Elles sont supprimées ou anonymisées au bout de 3 ans après votre dernière activité sur le site.</p>
    
    <h3>Vos droits sur vos données</h3>
    <p>Conformément au RGPD, vous avez les droits suivants sur vos données :</p>
    <ul>
        <li><strong>Droit d'accès :</strong> Vous pouvez demander une copie des données que nous détenons sur vous.</li>
        <li><strong>Droit de rectification :</strong> Vous pouvez modifier vos données personnelles si elles sont incorrectes.</li>
        <li><strong>Droit de suppression :</strong> Vous pouvez demander la suppression de vos données personnelles.</li>
        <li><strong>Droit à la portabilité :</strong> Vous pouvez demander à recevoir vos données dans un format structuré, couramment utilisé, pour les transférer à un autre service.</li>
        <li><strong>Droit d’opposition :</strong> Vous pouvez vous opposer à l’utilisation de vos données à des fins de marketing.</li>
    </ul>

    <p>Pour exercer vos droits, contactez-nous à : <a href="mailto:ouradiarra2@gmail.com">ouradiarra2@gmail.com</a>.</p>
{% endblock %}
