{% extends 'front/base.html.twig' %}

{% block title %}DjoumaCook - Gestion des cookies{% endblock %}

{% block body %}
    <h1>Gestion des cookies</h1>

    <h3>Qu'est-ce que les cookies ?</h3>
    <p>Les cookies sont des petits fichiers stockés sur votre appareil pour faciliter la navigation et améliorer l’expérience utilisateur. Ils nous permettent de mémoriser vos préférences et d’analyser l’usage du site.</p>

    <h3>Consentement pour les cookies</h3>
    <p>Lorsque vous visitez DjoumaCook, un bandeau cookie s'affiche vous demandant votre consentement. Vous pouvez accepter ou refuser l’utilisation des cookies non essentiels (publicitaires, analytiques).</p>

    <h3>Cookies utilisés sur DjoumaCook</h3>
    <p>Les cookies utilisés sur DjoumaCook sont classés comme suit :</p>
    
    <h4>Cookies nécessaires :</h4>
    <p>Ceux qui sont indispensables au bon fonctionnement du site (connexion, panier, etc.).</p>
    
    <h4>Cookies analytiques :</h4>
    <p>Utilisés pour analyser la fréquentation du site (Google Analytics).</p>
    
    <h4>Cookies de personnalisation :</h4>
    <p>Pour mémoriser vos préférences (recettes favorites, historique de navigation).</p>

    <h3>Gestion des cookies</h3>
    <p>Vous pouvez désactiver les cookies à tout moment en modifiant les paramètres de votre navigateur. Vous pouvez aussi choisir d’accepter ou refuser certains types de cookies via notre gestionnaire de cookies.</p>

{% endblock %}
