{% extends 'front/base.html.twig' %}

{% block title %}DjoumaCook - Mentions légales{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>

    <p>Le site internet DjoumaCook, accessible à l'adresse <strong>www.djoumacook.com</strong>, est édité par :</p>
    
    <h3>Éditeur</h3>
    <p>Nom : Oura Diarra</p>
    <p>Adresse : 20 allée de Jacques, 92210</p>
    <p>Email : ouradiarra2@gmail.com</p>
    
    <h3>Hébergement</h3>
    <p>Le site est hébergé par :</p>
    <p>Nom de l'hébergeur : IONOS</p>
    <p>Adresse : 7 Place de la Gare, 57200 Sarreguemines, France</p>
    <p>Téléphone : 09 70 80 89 11</p>

    <h3>Responsabilité</h3>
    <p>L'éditeur s'efforce d'assurer l'exactitude et la mise à jour des informations présentes sur ce site, mais ne peut garantir l'exactitude, la complétude et l'actualité des informations diffusées.</p>
    
    <h3>Propriété intellectuelle</h3>
    <p>Le contenu du site DjoumaCook (textes, images, vidéos, logos, etc.) est protégé par les droits d'auteur et la propriété intellectuelle. Toute reproduction, distribution ou modification est interdite sans l'accord préalable de l'éditeur.</p>
{% endblock %}
