{% extends 'front/base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Bienvenue, {{ user.fullName }}</h1>
        <p>Email : {{ user.email }}</p>
        <a href="{{ path('home_index') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
